#Title
{
    text-align: center;
}

#Subtitle
{
    text-align: center;
}
#heading
{
    text-align: center;
}

/*.gender, .weight-goal*/
/*{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*button*/
/*{*/
/*    text-align: center;*/
/*    background-color: rgba(255, 255, 255, 1.0);*/
/*    border-width: medium;*/
/*}*/

/*.fiveB*/
/*{*/
/*    width: 10%;*/
/*    aspect-ratio: 2/1;*/
/*}*/

/*.twoB*/
/*{*/
/*    width: 25%;*/
/*    aspect-ratio: 5/1;*/
/*}*/

/*.twoF*/
/*{*/
/*    width: 25%;*/
/*}*/
/*.Diet*/
/*{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.Gender*/
/*{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.Height*/
/*{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/