<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZEats</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        document.getElementById("calc").addEventListener("click", function() {
            var message = "The form is incomplete. Please complete the form before trying to generate the meal plan.";

            // check radios
            var radios = document.querySelector('input[type="radio"]');
            for (var i = 0; i < radios.length; i++) {
                if (radios[i]) {
                    alert(message);
                    break;
                }
            }

            // check txt
            var txts = document.querySelector('input[type="number"]');
            for (var i = 0; i < txts.length; i++) {
                if (txts[i]) {
                    alert(message);
                    break;
                }
            }
            // check dropdown
            var dropdown = document.getElementById("activitylevel").value;
            if (dropdown === "") {
                alert(message);
            }
        });
    </script>
    <h1 id="Title">EZ Eats</h1>
    <h2 id="Subtitle">A personalized diet builder</h2>
    <form th:action="@{/diet}" th:object="${Person}" method="post">
        <div class="container-flex mx-5">
            <div class="btn-group d-flex mb-sm-2" role="group">
                <section th:each="pref : ${T(com.eat.diet.repo.model.Pref).values}">
                    <input type="radio" class="btn-check" name="pref" id="pref" autocomplete="off" th:field="*{pref}" th:value="${pref}">
                    <label class="btn btn-outline-primary text-black" for="pref" th:text="${pref.displayValue}"></label>
                </section>
            </div>

            <div class="btn-group d-flex mb-sm-2">
                <section th:each="goal : ${T(com.eat.diet.repo.model.Goal).values}">
                    <input type="radio" class="btn-check" name="goal" id="goal" autocomplete="off" th:field="*{goal}" th:value="${goal}">
                    <label class="btn btn-outline-primary text-black" for="goal" th:text="${goal.displayValue}"></label>
                </section>
            </div>

            <div class="btn-group d-flex mb-sm-2" role="group">
                <section th:each="gender : ${T(com.eat.diet.repo.model.Gender).values}">
                <input type="radio" class="btn-check" name="gender" id="gender" autocomplete="off" th:field="*{gender}" th:value="${gender}">
                <label class="btn btn-outline-primary text-black" for="gender" th:text="${gender.displayValue}"></label>
                </section>
            </div>

<!--        name later-->
            <div class="form-floating mb-sm-2">
                <input type="number" class="form-control" th:field="*{weight}" id="weight" placeholder="Weight">
                <label for="weight">Weight</label>
            </div>
            <div class="form-floating mb-sm-2">
                <input type="number" class="form-control" th:field="*{bodyFat}" id="bodyFat" placeholder="Body-fat">
                <label for="bodyFat">Body-fat</label>
            </div>
            <div class="form-floating mb-sm-2">
                <input type="number" class="form-control" name="age" id="age" placeholder="Age">
                <label for="age">Age</label>
            </div>

            <div class="dropdown">
                <select class="form-select" id="activityLevel" aria-label="Floating label select example" th:field="*{activityLevel}">
                    <option selected value="null">Activity Level</option>
                    <option th:each="lvl : ${T(com.eat.diet.repo.model.ActivityLevel).values()}"
                            th:value="${lvl}" th:text="${lvl.displayValue}"></option>
                </select>
                <input class="btn btn-primary" id="calc" type="submit" value="Calculate">
            </div>
        </div>
    </form>
</body>
</html>