<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZEats</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <h1 id="Title">EZ Eats</h1>
    <h2 id="Subtitle">A personalized diet builder</h2>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="Anything" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="Anything">Anything</label>

        <input type="radio" class="btn-check" name="btnradio" id="Vegetarian" autocomplete="off">
        <label class="btn btn-outline-primary" for="Vegetarian"">Vegetarian</label>

        <input type="radio" class="btn-check" name="btnradio" id="Vegan" autocomplete="off">
        <label class="btn btn-outline-primary" for="Vegan">Vegan</label>

        <input type="radio" class="btn-check" name="btnradio" id="Paleo" autocomplete="off">
        <label class="btn btn-outline-primary" for="Paleo">Paleo</label>

        <input type="radio" class="btn-check" name="btnradio" id="Keto" autocomplete="off">
        <label class="btn btn-outline-primary" for="Keto">Keto</label>
    </div>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Lose</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Maintain</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Gain</label>
    </div>

    <div class="gender">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" aria-pressed="true">Male</button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" aria-pressed="true">Female</button>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="weight" class="col-form-label">Weight</label>
        </div>
        <div class="col-auto">
            <input type="text" id="weight" class="form-control">
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="body-fat" class="col-form-label">Body-fat</label>
        </div>
        <div class="col-auto">
            <input type="text" id="body-fat" class="form-control">
        </div>
    </div>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activity Level
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sedentary</a></li>
            <li><a class="dropdown-item" href="#">Lightly Active</a></li>
            <li><a class="dropdown-item" href="#">Moderately Active</a></li>
            <li><a class="dropdown-item" href="#">Very Active</a></li>
            <li><a class="dropdown-item" href="#">Extremely Active</a></li>
        </ul>
    </div>
<!--    <div class = "Diet">-->
<!--        <button type="button" class = "fiveB">Anything</button>-->
<!--        <button type="button" class = "fiveB">Vegetarian</button>-->
<!--        <button type="button" class = "fiveB">Vegan</button>-->
<!--        <button type="button" class = "fiveB">Paleo</button>-->
<!--        <button type="button" class = "fiveB">Keto</button>-->
<!--    </div>-->
<!--    <div class = "Gender">-->
<!--        <button type="button" class = "twoB">Male</button>-->
<!--        <button type="button" class = "twoB">Female</button>-->
<!--    </div>-->
<!--    <div class = "Height">-->
<!--        <form>-->
<!--            <input type = "text" class = "twoF"> <label>ft</label>-->
<!--            <input type = "text" class = "twoF"><label>in</label>-->
<!--        </form>-->
<!--    </div>-->
</body>
</html>