<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZEats</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id = "Title">EZ Eats</h1>
    <h2 id = "Subtitle">A personalized diet builder</h2>
    <div class = "Diet">
        <button type="button">Anything</button>
        <button type="button">Vegetarian</button>
        <button type="button">Vegan</button>
        <button type="button">Paleo</button>
        <button type="button">Keto</button>
    </div>
</body>
</html>